.form-registre, .form-login, .form-article {
  width: 440px;
  padding: 25px 25px;
  border-radius: 8px;
  margin: 2.5% 0;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-registre .missatge-error,
.form-login .missatge-error,
.form-article .missatge-error {
  border: #ff3a3a 1px solid;
  border-radius: 8px;
  background-color: #ed6060;
  margin-top: 10px;
}

.form-registre .missatge-error ul,
.form-login .missatge-error ul,
.form-article .missatge-error ul {
  list-style-position: inside;
}

.form-registre .missatge-error li,
.form-login .missatge-error li,
.form-article .missatge-error li {
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 2px 10px;
}

.form-registre h1,
.form-login h1 {
  font-size: 1.6rem;
  text-align: center;
}

.form-registre form label,
.form-login form label ,
.form-article form label {
  color: #1d1d1d;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03rem;
  display: block;
  margin-top: 12px;
}

.form-login form label[for="recordar"] {
  margin-top: 0;
}

.form-registre form .input,
.form-login form .input,
.form-article form .input {
  position: relative;
}

.form-registre form .input input,
.form-login form .input input,
.form-article form .input input {
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 46px;
  letter-spacing: 0.03rem;
  border: 1px solid #1d1d1d;
  background: transparent;
  outline: none;
  border-radius: 8px;
  text-indent: 20px;
  margin-top: 6px;
  transition: all 0.3s ease;
}

.form-registre form .input input:focus,
.form-login form .input input:focus,
.form-article form .input input:focus {
  border-color: chocolate;
}

.form-registre form .input input:focus + i,
.form-login form .input input:focus + i {
  color: chocolate;
}

.form-registre form .input i,
.form-login form .input i {
  position: absolute;
  font-size: 25px;
  right: 10px;
  top: 16px;
  transition: all 0.3s ease;
}

input[type="password"] + i {
  cursor: pointer;
}

.form-registre button,
.form-login button,
.form-article button {
  width: 100%;
  margin: 15px 0;
  background: chocolate;
  color: #fff;
  border: none;
  line-height: 50px;
  font-size: 18px;
  letter-spacing: 0.025em;
  cursor: pointer;
  font-weight: 800;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.form-registre button:hover,
.form-login button:hover,
.form-article button:hover {
  background-color: #df813e;
}

.form-article p {
  text-align: center;
}

.form-login .recordar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.form-login .recordar input {
  transform: scale(1.1);
}
