ul.dropdown-menu li {
  --bs-dropdown-link-active-bg: chocolate !important;
}

body {
  background-image: url(../images/fons.png);
  /* background-repeat: repeat; */
  /* background-size: contain; */
}

.dropdown-menu[data-bs-popper] {
  min-width: unset;
  left: -0.3rem;
}

/* li > a > i {
  margin-right: 0.5rem;
} */

.vertical-bar {
  margin: 0;
  margin-bottom: 0.5rem;
}

.navbar-brand {
  margin-right: 0.5rem;

  h4 {
    margin-bottom: 0;
  }
}

.nom-pagina {
  margin: 0;
  margin-left: 0.5rem;
}

.form-registre {
  max-width: 40rem;
  margin-top: 6rem;
  background-color: white;
  border: 1px chocolate solid;

  form div.input{
    width: 25.7rem;
  }

  button {
    width: 100%;
    border: unset;
    background-color: chocolate;
  }

  button:hover {
    background-color: #df813e;
  }
}