/* Santi Onieva */

:root {
  --btn-danger-bg: #dc3545;
  --btn-danger-border-color: #dc3545;
  --btn-danger-hover-bg: #bb2d3b;
  --btn-danger-hover-border-color: #b02a37;

  --btn-success-bg: #198754;
  --btn-success-border-color: #198754;
  --btn-success-hover-bg: #157347;
  --btn-success-hover-border-color: #146c43;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background-image: url(../images/fons.png);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px
}

.show {
  display: block !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(210, 105, 30, 0.7), rgba(255, 153, 102, 0.7), rgba(139, 69, 19, 0.7));
  padding: 0.5rem 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  > div {
    padding: 0 0.5rem;
  }

  .vertical-bar {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  div.logo {
    h2, h4 {
      font-weight: 500;
    }
  
    h4 {
      font-size: 1.5rem;
    }
  }
  
  a.logo {
    text-decoration: none;
  
    .logo-name {
      margin: 0 0.5rem;
    }
  }
  
  .nom-pantalla {
    margin: 0;
    margin-left: 0.5rem;
  }
  
  .nav-items {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
  
    .nav-item {
      color: white;
      text-decoration: none;
      padding: 0 1rem;
      align-items: center;
      display: flex;
  
      i {
        font-size: 14px;
      }
  
      i:not(.fa-caret-left, .fa-caret-down) {
        margin-right: 0.5rem;
      }
  
      i.fa-caret-left, i.fa-caret-down {
        margin-left: 0.2rem;
      }
    }
  }
  
  button#dropdown-toggle {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(166, 92, 33, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    top: 3.2rem;
    right: .5rem;
  }
  
  .dropdown-content a {
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(235, 113, 13, 0.5);
  }
}

.articles {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.llistat-articles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 25px 0;

  article {
    width: 25%;
  }
}

article {
  --img-scale: 1.0001;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  max-width: 75%;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  
  figure {
    overflow: hidden;
    
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      transform-origin: center;
      transform: scale(var(--img-scale));
      transition: transform 0.4s ease-in-out;
    }

    .btn-delete {
      background-color: var(--btn-danger-bg);
      padding: 0.375rem 0.75rem;
      position: absolute;
      left: 305px;
      top: 10px;
      color: white;
      border: 1px solid var(--btn-danger-border-color);
      border-radius: 0.375rem;
    }

    .btn-delete:hover {
      background-color: var(--btn-danger-hover-bg);
      border-color: var(--btn-danger-hover-border-color);
    }
  }

  .article-body {
    padding: 24px;
  
    h2 {
      text-align: unset;
      margin: unset;
      font-size: 1.4rem;
      letter-spacing: 0.06em;
      color: black;
      transition: color 0.3s ease-out;
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
    }
  
    p {
      margin: 10px 0;
      font-size: small;
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
    }
  
    a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: #28666e;
      cursor: pointer;
  
      
      i {
        min-width: 24px;
        margin-left: 6px;
        transform: translateX(var(--link-icon-translate));
        opacity: var(--link-icon-opacity);
        transition: all 0.3s;
      }
    }
  
    a:focus {
      outline: 1px dotted #28666e;
    }
  }
  
}

article:has(:hover, :focus) {
  --img-scale: 1.1;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
}

.form-registre, .form-login, .form-afegir {
  width: 440px;
  padding: 25px 25px;
  border-radius: 8px;
  margin: 2.5% 0;

  background-color: white;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

  h1 {
    font-size: 1.6rem;
    text-align: center;
  }

  form label {
    color: #1d1d1d;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: block;
    margin-top: 12px;
  }

  form .input {
    position: relative;

    input {
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
      height: 46px;
      letter-spacing: 0.03rem;
      border: 1px solid #1d1d1d;
      background: transparent;
      outline: none;
      border-radius: 8px;
      text-indent: 20px;
      margin-top: 6px;
      transition: all 0.3s ease;
    }

    input:focus {
      border-color: chocolate;

      + i {
        color: chocolate;
      }
    }

    i {
      position: absolute;
      font-size: 25px;
      right: 10px;
      top: 16px;
      transition: all 0.3s ease;
    }
  }

  button {
    width: 100%;
    margin-top: 15px;
    background: chocolate;
    color: #fff;
    border: none;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 0.025em;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
  }

  button:hover {
    background-color: #df813e;
  }

  .missatge-error {
    border: #ff3a3a 1px solid;
    border-radius: 8px;
    background-color: #ed6060;
    margin-top: 10px;

    ul {
      list-style-position: inside;
    }

    li {
      color: white;
      font-size: 13px;
      font-weight: 500;
      padding: 2px 10px;
    }
  }
}

.dashboard {
  width: 1470px;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 1.5%;

  background-color: white;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

  .benvinguda {
    margin-bottom: 25px;
  }

  hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #d2691e, #ff7f50, #d2691e);
    margin: 20px 0;
  }

  h2 {
    text-align: center;
  }

  .afegir-article {
    display: none;
  }

  .apartats-titol {
    display: flex;
    width: 100%;
    gap: 120px;

  }

  h3 {
    width: 650px;
    text-align: center;
  }

  .apartats {
    display: flex;
    gap: 120px;
    justify-content: space-between;
    align-items: center;

    > div {
      margin: 15px 0;
    }
    
    .form-afegir {
      width: 650px;

      .missatge-error {
        margin-top: 0;
        margin-bottom: 10px;
      }
  
      form label:first-child {
        margin-top: 0;
      }
  
      input:not([type="file"]), textarea {
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        height: 46px;
        letter-spacing: 0.03rem;
        border: 1px solid #1d1d1d;
        background: transparent;
        outline: none;
        border-radius: 8px;
        text-indent: 20px;
        margin-top: 6px;
        transition: all 0.3s ease;
      }
      
      input:focus, textarea:focus {
        border-color: chocolate;
      }
  
      textarea {
        transition: unset;
        height: unset;
        resize: none;
        padding: 10px 15px;
        text-indent: unset;
      }
  
      .imatge {
        display: flex;
        margin-top: 6px;
        align-items: center;
  
        .btn-imatge {
          margin-top: unset;
          width: 20%;
          font-size: 14px;
          line-height: 35px;
        }
  
        p {
          margin-left: 10px;
          width: 78%;
        }
      }
      
      input[type="file"] {
        display: none;
      }
    }

    .vista-previa {
      width: 500px;
    }
  } 

  h2 button {
    position: absolute;
    right: 58px;
    padding: 10px 12px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .btn-add {
    background-color: var(--btn-success-bg);
    border: 1px solid var(--btn-success-border-color);
  }
  
  .btn-cancel {
    background-color: var(--btn-danger-bg);
    border: 1px solid var(--btn-danger-border-color);
  }
  
  .btn-add:hover {
    background-color: var(--btn-success-hover-bg);
    border-color: var(--btn-success-hover-border-color)
  }
  
  .btn-cancel:hover {
    background-color: var(--btn-danger-hover-bg);
    border-color: var(--btn-danger-hover-border-color)
  }
}