/* Santi Onieva */

:root {
  --btn-danger-bg: #dc3545;
  --btn-danger-border-color: #dc3545;
  --btn-danger-hover-bg: #bb2d3b;
  --btn-danger-hover-border-color: #b02a37;

  --btn-success-bg: #198754;
  --btn-success-border-color: #198754;
  --btn-success-hover-bg: #157347;
  --btn-success-hover-border-color: #146c43;

  --btn-warning-bg: #ffc107;
  --btn-warning-border-color: #ffc107;
  --btn-warning-hover-bg: #d39e00;
  --btn-warning-hover-border-color: #c69500;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background-image: url(../images/fons.png);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px
}

.show {
  display: block !important;
}

.titol-inici {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

